/* :root {
  --light: #F1FFFA;
  --dark: #454545;
  --primary: #785964;
  --secondary: #93B7BE;
  --accent: #D5C7BC;
} */

:root {
  --light: #F1FFFA;
  --dark: #454545;
  --primary: #698195;
  --secondary: #93B7BE;
  --accent: #4C5760;

  --pink-light: #EFF9F0;
  --pink-dark: #13070C;
  --pink-primary: #6B4D57;
  --pink-secondary: #DDC8C4;
  --pink-accent: #896A67;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.header {
  background-color: lightgrey;
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 140px;
  justify-content: flex-start;
  
}

.site-title {
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 30pt;
  text-align: center;
  justify-self: left;
  color: var(--dark);
  padding-top:10px;
  padding-bottom:10px;
}

.disclaimer {
  width: 100%;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  font-style: italic;
  color: var(--dark);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 6;
  align-items: center;
}

.nav-button {
  height: 80px;
  border: 4px solid var(--dark);
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  text-align: center;
}

.nav-button:hover {
  background-color: var(--primary);
  border: 4px solid var(--primary);
  border-radius: 20px;
  color: var(--light);
}

.main {
  background-color: var(--light);
  display: flex;
  height: 100%;
  flex-grow: 6;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.top-row {
  display: flex;
  width: 100%;
}

.bottom-row {
  display: flex;
  width: 100%;
}

.left-column {
  display: flex;
  width: 65%;
  justify-content: center;
}

.right-column {
  display: flex;
  width: 35%;
  justify-content: center;
}

.title {
  font-size: 50pt;
  padding-bottom: 10px;
  color: var(--dark);
}

.dice {
  height: 400px;
  width: 400px;
  background-color: var(--secondary);
  /* border: 10px solid var(--primary); */
  border-radius: 100px;
  box-shadow: 20px 20px 20px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dice-active {
  height: 400px;
  width: 400px;
  background-color: var(--secondary);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hexagon-middle {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100pt;
  color: var(--dark);
}

/* .hexagon-front {
  background-color: blue;
  height: 150px;
  width: 100px;
} */

/* .hexagon-back {
  background-color: green;
  height: 150px;
  width: 100px;
} */

.options-bar {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid var(--secondary);
  border-radius: 10px;
  color: var(--dark);
  padding: 10px;
}

.toggle {
  display: flex;
}

/* ////////////////// TOGGLE SWITCH /////////////////////////////////////// */
/* Taken from W3 schools */
.toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.switch {
  display: flex;
  background-color: lightgray;
  width: 60px;
  height: 32px;
  border-radius: 16px;
}

.slider {
  background-color: var(--light);
  height: 24px;
  width: 24px;
  margin: 4px;
  border-radius: 12px;
}

.hide-me {
  display: none;
}

input:checked + .switch {
  background-color: var(--secondary);
  display: flex;
  justify-content: flex-end;
}
